.container{
    display:flex;
    width: 100%;
    color: grey;
    justify-content: center;
    align-items: center;
    z-index: 2;
    flex-direction: column;
}
.line{
    background-color: gray;
    height: 2px;
    width: 25em;
}
.or{
    position: relative;
    top: -5px;
    transform: translateY(-30%);
    background-color: white;
    width: 3em;
    text-align: center;
    height:20px;
}
